@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #1F3D53;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

